body {
    background-image: url('shopping.png'); /* Adjust the path and file name accordingly */
    background-size: cover; /* Cover the entire background */
    background-position: center; /* Center the background image */
    background-repeat: no-repeat; /* Do not repeat the background image */
    font-family: Arial, sans-serif;
    background-color: #ffd500;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    text-align: center;
}

.form-container, .secured-container {
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin: 10px;
    transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out;
    opacity: 1;
}

.hidden {
    transform: translateY(-50px);
    opacity: 0;
}

h2 {
    color: #333;
}

label {
    display: block;
    margin-top: 10px;
    color: #666;
}

input {
    margin-top: 5px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    width: 100%;
    box-sizing: border-box;
}

button {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #0056b3;
}

.secured-container {
    display: none;
    color: #444;
}

.flash-message {
    margin-top: 10px;
    padding: 10px;
    border-radius: 5px;
}

.flash-message.error {
    background-color: #f8d7da;
    color: #721c24;
}

.flash-message.success {
    background-color: #d4edda;
    color: #155724;
}

.flash-message.info {
    background-color: #cce5ff;
    color: #004085;
}

a {
    color: #007BFF;
    text-decoration: none;
    transition: color 0.3s ease;
}

a:hover {
    color: #0056b3;
}
